// colors
$brand-purple: #262362;
$brand-orange: #df9d01;

// greyscales
$foo: bar;
$pink-white: #d4d3dd;
$off-white: #f2f2f2;
$mushroom: #d1d1d1;
$light-grey: #cbcbcb;
$blue-grey: #b3b3c1;
$dark-grey: #3b3b3b;

// assignments
$text-color: $dark-grey;
$link-color: $brand-purple;
