@import "neat/neat-helpers";

// $visual-grid: true;
// $visual-grid-color: green;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.15;

$root-font-size-int: 20; // unsigned px
$root-font-size: $root-font-size-int * 1px;

// Change the grid settings
$column: 72px;
$gutter: 44px;
$grid-columns: 9;
$max-width: em(1020,$root-font-size-int);
$grid-padding: 10px;


$house: new-breakpoint(min-width 300px $grid-columns);
$street: new-breakpoint(min-width 480px $grid-columns);
$city: new-breakpoint(min-width 600px $grid-columns);
$state: new-breakpoint(min-width 768px $grid-columns);
$country: new-breakpoint(min-width 1020px $grid-columns);
