pre {
  white-space: normal;
}

form {

  #cookies {
    display: none;
  }
  font-family: $sans;
  @include rem(font-size,16px);
  * {
    @include rem(font-size,16px);
  }

  h2 {
    // border-bottom: solid 1px $dark-grey;
    // text-transform: uppercase;
    padding-top: 1em;
    font-size: 2em;
  }

  input, textarea, select {
    margin-bottom: 1em;
  }

  input, textarea {
    width: 100%;
    &[type="radio"],
    &[type="checkbox"]
    {
      width: auto;
    }
  }

  input,
  textarea
  {
    border-radius: (0.25em);
    padding: 0.25em;
  }

  .chzn-container-single{
    .chzn-single {
      @include rem(line-height,36px);
      @include rem(height,36px);
    }
  }

}
