// ===================================
// Home page
// ===================================

html.page-home {

  .cta {
    a {
      background: $brand-purple;
      color: $blue-grey;

      &:hover {
        background: $brand-orange;
        color: #fff;
      }

      @include media($city) {
        &:hover {
          transform: scale(1.1); /* 1/10 of the original size */
          transition: all 333ms ease-in-out;
        }
        text-transform: none;
        padding: 0;
        @include rem(font-size,25px);
        line-height: 6.5;
        width: 6.5em;
        display: inline-block;
        border-radius: 50%;
      }
      @include media($state) {
        @include rem(font-size,35px);
        line-height: 6.5;
        width: 6.5em;
      }

    }
  }

  .mission {
    .container {
      @include rem(padding-top, 60px);
      @include rem(padding-bottom, 60px);
      @include rem(font-size,24px);
      font-family: $serif;
      h1 {
        font-size: 1.5em;
        margin-bottom: 0.75em;
      }
      img {
        height: auto !important;
        margin-bottom: 0.75em;
      }
      p {
        text-align: left !important;
      }
    }
  }


  .post-summaries {
    font-family: $serif;
    .container {
      padding-top: 2em;
      padding-bottom: 2em;
      text-align: center;
      a {
        display: block;
        text-align: center;
        border-bottom: none;
        &.button {
          display: inline-block;
          margin: auto;
        }
        &:hover {
          border-bottom-color: transparent;
          background: $pink-white;
        }
        > * {
          @include rem(margin, 10px 10px 20px);
        }
        img {
          display: block;
          @include rem(margin,0 0 30px);
        }
        @include media($city) {
          text-align: left;
          > * {
            @include rem(margin,20px 20px 30px);
          }
        }
      }
      h2 {
        @include rem(font-size, 30px);
        margin-bottom: 0.5em;
      }
    }
  }

} // html.home


.slider {

  > * {
    position: relative;
    display: none;
    &:first-child {
      display: block;
    }
  }

  &.banner-images {
    > * {
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $mushroom;

      @include rem(height, 300px);
      @include media($state) {
        @include rem(height, 450px);
      }
      .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(255,255,255,0.4);
        @include media($city) {
          display: block;
          top: auto;
        }
        .container {
          text-align: center;
          font: italic normal 48px/1.2 $serif;
          text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
          color: #fff;
        }
        @include rem(font-size,48px);
        padding: 1em 0;
        a {
          display: inline-block;
          margin-left: 1em;
          vertical-align: middle;
          @include rem(font-size,20px);
          font-weight: 400;
          text-shadow: 0;
        }
      }
    }
  }

  &.testimonials {
    background: $brand-purple;
    #quoterotator {
      @include rem(min-height,120px);
      @include media($city) {
        @include rem(min-height,220px);
      }
    }
    > * {
      color: #fff;
      padding: 1em 0;
      font-family: $serif;
      @include rem(font-size,20px);
      @include media($city) {
        @include rem(font-size,40px);
        line-height: 1.625;
      }
      blockquote{
        font-weight: 400;
        font-style: italic;
        quotes: "\201C" "\201D";
        &:before,
        &:after
        {
          color: $brand-orange;
          line-height: 0;
          @include media($city) {
            @include rem(font-size, 50px);
          }
        }
        &:before {
          content: open-quote;
        }
        &:after {
          content: close-quote;
        }
      }
    }
    cite {
      display: block;
      @include rem(font-size,15px);
      @include media($city) {
        @include rem(font-size,30px);
      }
      @include rem(text-indent,80px);
    }

  } // &.testimonials


} // .slider





