*, *:before, *:after, input, select {
  @include box-sizing(border-box);
}

html {
  height: 100%;
  font-size: $root-font-size; // 20px
}
body {
  height: 100%;
  text-align: center;
}

.page-wrapper {
  // This exists to give the page a white background and allow footer to travel to bottom of browser window even on short pages.
  // background: #fff image-url("bg_tile_static.png") center repeat;
  background: #fff;
}

.container {
  @include outer-container;
  @include reset-container;
  overflow: hidden;
  padding: 0 0.5em;
  text-align: left;
  @include media($house) {
    padding: 0 1em;
  }
  // text-align: left;
}

footer {
}

.columns {
  > * {
    text-align: center;
    margin-bottom: 2em;
  }
  &.padded {
    > * {
      @include media($street) {
        padding: 0 0.5em;
      }
      @include media($country) {
        padding: 0 1em;
      }
    }
  } // &.padded
  &.image-borders {
    > * {
      img {
        border: solid 1px $mushroom;
        @include rem(border-radius, 5px);
        margin-bottom: 0.75em;
      }
    }
  }
  @include clearfix;
  @include griddy(1);

  &.six-wide {
    @include media($house) {
      @include griddy(2);
    }
    @include media($city) {
      @include griddy(3);
    }
    @include media($state) {
      @include griddy(6);
    }
  }

  &.four-wide {
    @include media($house) {
      @include griddy(2);
    }
    @include media($city) {
      @include griddy(4);
    }
  }

  &.three-wide {
    @include media($house) {
      @include griddy(1);
    }
    @include media($city) {
      @include griddy(3);
    }
    > * {
      @include media($house) {
        padding: 0 1em;
      }
      @include media($street) {
        padding: 0 2em;
      }
      @include media($city) {
        padding: 0 0.25em;
        margin-bottom: 1.5em;
      }
      @include media($country) {
        padding: 0 0.5em;
      }
    }

  }

  &.two-wide {
    @include media($house) {
      @include griddy(1);
    }
    @include media($city) {
      @include griddy(2);
    }
    > * {
      margin-bottom: 3em;
      @include media($house) {
        padding: 0 1em;
      }
      @include media($street) {
        padding: 0 2em;
      }
      @include media($city) {
        padding: 0 1em;
        margin-bottom: 1.5em;
      }
      @include media($country) {
        padding: 0 flex-grid(1, 10);
      }
    }
  }

  img,
  span
  {
    display: block;
    width: 100%;
    margin: auto;
  }

}


