/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after, input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 20px; }

body {
  height: 100%;
  text-align: center; }

.page-wrapper {
  background: #fff; }

.container {
  *zoom: 1;
  max-width: 51em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1020px;
  max-width: 51rem;
  overflow: hidden;
  padding: 0 0.5em;
  text-align: left; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media screen and (min-width: 300px) {
    .container {
      padding: 0 1em; } }

.columns {
  *zoom: 1;
  width: 100%; }
  .columns > * {
    text-align: center;
    margin-bottom: 2em; }
  @media screen and (min-width: 480px) {
    .columns.padded > * {
      padding: 0 0.5em; } }
  @media screen and (min-width: 1020px) {
    .columns.padded > * {
      padding: 0 1em; } }
  .columns.image-borders > * img {
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    border-radius: 0.25rem;
    margin-bottom: 0.75em; }
  .columns:before, .columns:after {
    content: " ";
    display: table; }
  .columns:after {
    clear: both; }
  @media screen and (min-width: 300px) {
    .columns.six-wide > * {
      display: block;
      float: left;
      margin-right: 4.4%;
      width: 47.8%; }
      .columns.six-wide > *:nth-child(1n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:nth-child(2n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:last-child {
        margin-right: 0; }
      .columns.six-wide > *:nth-child(2n) {
        margin-right: 0; }
      .columns.six-wide > *:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 600px) {
    .columns.six-wide > * {
      display: block;
      float: left;
      margin-right: 4.4%;
      width: 30.4%; }
      .columns.six-wide > *:nth-child(1n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:nth-child(2n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:nth-child(3n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:last-child {
        margin-right: 0; }
      .columns.six-wide > *:nth-child(3n) {
        margin-right: 0; }
      .columns.six-wide > *:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) {
    .columns.six-wide > * {
      display: block;
      float: left;
      margin-right: 4.4%;
      width: 13%; }
      .columns.six-wide > *:nth-child(1n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:nth-child(2n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:nth-child(3n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:nth-child(4n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:nth-child(5n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:nth-child(6n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.six-wide > *:last-child {
        margin-right: 0; }
      .columns.six-wide > *:nth-child(6n) {
        margin-right: 0; }
      .columns.six-wide > *:nth-child(6n+1) {
        clear: left; } }
  @media screen and (min-width: 300px) {
    .columns.four-wide > * {
      display: block;
      float: left;
      margin-right: 4.4%;
      width: 47.8%; }
      .columns.four-wide > *:nth-child(1n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.four-wide > *:nth-child(2n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.four-wide > *:last-child {
        margin-right: 0; }
      .columns.four-wide > *:nth-child(2n) {
        margin-right: 0; }
      .columns.four-wide > *:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 600px) {
    .columns.four-wide > * {
      display: block;
      float: left;
      margin-right: 4.4%;
      width: 21.7%; }
      .columns.four-wide > *:nth-child(1n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.four-wide > *:nth-child(2n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.four-wide > *:nth-child(3n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.four-wide > *:nth-child(4n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.four-wide > *:last-child {
        margin-right: 0; }
      .columns.four-wide > *:nth-child(4n) {
        margin-right: 0; }
      .columns.four-wide > *:nth-child(4n+1) {
        clear: left; } }
  @media screen and (min-width: 300px) {
    .columns.three-wide {
      width: 100%; } }
  @media screen and (min-width: 600px) {
    .columns.three-wide > * {
      display: block;
      float: left;
      margin-right: 4.4%;
      width: 30.4%; }
      .columns.three-wide > *:nth-child(1n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.three-wide > *:nth-child(2n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.three-wide > *:nth-child(3n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.three-wide > *:last-child {
        margin-right: 0; }
      .columns.three-wide > *:nth-child(3n) {
        margin-right: 0; }
      .columns.three-wide > *:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 300px) {
    .columns.three-wide > * {
      padding: 0 1em; } }
  @media screen and (min-width: 480px) {
    .columns.three-wide > * {
      padding: 0 2em; } }
  @media screen and (min-width: 600px) {
    .columns.three-wide > * {
      padding: 0 0.25em;
      margin-bottom: 1.5em; } }
  @media screen and (min-width: 1020px) {
    .columns.three-wide > * {
      padding: 0 0.5em; } }
  @media screen and (min-width: 300px) {
    .columns.two-wide {
      width: 100%; } }
  @media screen and (min-width: 600px) {
    .columns.two-wide > * {
      display: block;
      float: left;
      margin-right: 4.4%;
      width: 47.8%; }
      .columns.two-wide > *:nth-child(1n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.two-wide > *:nth-child(2n) {
        margin-right: 4.4%;
        clear: none; }
      .columns.two-wide > *:last-child {
        margin-right: 0; }
      .columns.two-wide > *:nth-child(2n) {
        margin-right: 0; }
      .columns.two-wide > *:nth-child(2n+1) {
        clear: left; } }
  .columns.two-wide > * {
    margin-bottom: 3em; }
    @media screen and (min-width: 300px) {
      .columns.two-wide > * {
        padding: 0 1em; } }
    @media screen and (min-width: 480px) {
      .columns.two-wide > * {
        padding: 0 2em; } }
    @media screen and (min-width: 600px) {
      .columns.two-wide > * {
        padding: 0 1em;
        margin-bottom: 1.5em; } }
    @media screen and (min-width: 1020px) {
      .columns.two-wide > * {
        padding: 0 6.45161%; } }
  .columns img,
  .columns span {
    display: block;
    width: 100%;
    margin: auto; }

body {
  background: #3b3b3b;
  color: #3b3b3b;
  font: normal 80%/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 90%; } }
  @media screen and (min-width: 1020px) {
    body {
      font-size: 100%; } }

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0 0 1em; }
  .page-inside main h1, .page-inside aside h1, .page-inside main h2, .page-inside aside h2, .page-inside main h3, .page-inside aside h3, .page-inside main h4, .page-inside aside h4, .page-inside main h5, .page-inside aside h5, .page-inside main h6, .page-inside aside h6, .page-inside main p, .page-inside aside p, .page-inside main ul, .page-inside aside ul, .page-inside main ol, .page-inside aside ol {
    margin: 0 0 10px;
    margin: 0 0 0.5rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  font-family: "Vollkorn", Georgia, Times, "Times New Roman", serif; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em;
  margin-bottom: 0.25em; }

a {
  color: #262362;
  border-bottom: solid 1px #262362;
  text-decoration: none;
  -webkit-transition: 333ms;
  -moz-transition: 333ms;
  transition: 333ms; }
  a:hover {
    border-bottom-color: transparent; }
  .intro a {
    color: #fff;
    border-bottom-color: #fff; }
    .intro a:hover {
      border-bottom-color: transparent; }
  a.button {
    border: 1px solid #996b00;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #f6bd37;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    background-color: #df9d01;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df9d01), color-stop(100%, #a87600));
    background-image: -webkit-linear-gradient(#df9d01, #a87600);
    background-image: linear-gradient(#df9d01, #a87600);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #845d00;
    background-clip: padding-box; }
    a.button:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 #f0ab0a;
      cursor: pointer;
      background-color: #c28a05;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c28a05), color-stop(100%, #996b00));
      background-image: -webkit-linear-gradient(#c28a05, #996b00);
      background-image: linear-gradient(#c28a05, #996b00); }
    a.button:active:not(:disabled) {
      border: 1px solid #996b00;
      box-shadow: inset 0 0 8px 4px #896000, inset 0 0 8px 4px #896000, 0 1px 1px 0 #eeeeee; }
    a.button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

b,
strong {
  font-weight: 600; }

hr {
  border: 0;
  border-bottom: solid 1px #b3b3c1;
  margin: 2rem 0; }

img {
  max-width: 100%; }

.alignleft,
.alignright {
  border: solid 1px #cbcbcb;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%; }
  @media screen and (min-width: 600px) {
    .alignleft,
    .alignright {
      display: inline-block;
      width: auto; } }

@media screen and (min-width: 600px) {
  .alignleft {
    float: left;
    margin: 0 0.5em 0.5em 0; } }

@media screen and (min-width: 600px) {
  .alignright {
    float: right;
    margin: 0 0 0.5em 0.5em; } }

.dark {
  background: #f2f2f2; }

header a {
  text-decoration: none;
  border-bottom: 0; }
header .top-bar {
  padding-top: 20px;
  padding-top: 1rem;
  padding-bottom: 20px;
  padding-bottom: 1rem;
  text-align: center; }
  header .top-bar .logo {
    display: block;
    margin-bottom: 1em; }
    @media screen and (min-width: 600px) {
      header .top-bar .logo {
        float: left;
        margin-bottom: 0; } }
  @media screen and (min-width: 600px) {
    header .top-bar form {
      float: right; } }
header #menu-trigger,
header nav a {
  display: block;
  padding: 1em 0.5em 0.75em;
  text-align: center;
  font-family: "Vollkorn", Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  background: #262362;
  color: #b3b3c1;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1); }
  @media screen and (min-width: 600px) {
    header #menu-trigger,
    header nav a {
      font-size: 0.75em;
      border-bottom: 0; } }
  header #menu-trigger.current_page_item, header #menu-trigger:hover,
  header nav a.current_page_item,
  header nav a:hover {
    background: #df9d01;
    color: #fff; }
header #menu-trigger {
  cursor: pointer; }
  @media screen and (min-width: 600px) {
    header #menu-trigger {
      display: none; } }
header nav {
  background: #262362;
  color: #fff; }
  header nav .container {
    max-height: 0;
    text-align: center;
    padding: 0; }
    @media screen and (min-width: 600px) {
      header nav .container {
        max-height: 999em;
        padding-left: 1em;
        padding-right: 1em; } }
  header nav ul,
  header nav li {
    padding: 0;
    margin: 0;
    list-style: none; }
  @media screen and (min-width: 600px) {
    header nav li {
      display: inline-block; } }
header #menu-trigger.open {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4) inset; }
  header #menu-trigger.open + nav .container {
    max-height: 999em; }

footer {
  padding: 2em 0;
  color: #fff; }
  footer .columns {
    font-size: 15px;
    font-size: 0.75rem; }
    footer .columns img {
      width: auto; }
  footer .contact-info {
    display: block;
    padding-top: 2em; }
  footer a {
    color: #df9d01;
    border-bottom-color: #df9d01;
    text-decoration: none; }
    footer a:hover {
      border-bottom-color: transparent; }
  footer ul,
  footer li {
    list-style: none;
    padding: 0; }

.social a {
  display: inline-block;
  color: #cbcbcb;
  font-size: 50px;
  font-size: 2.5rem;
  text-decoration: none;
  border-bottom: none;
  margin-left: 0.25em; }
  @media screen and (min-width: 600px) {
    .social a {
      font-size: 40px;
      font-size: 2rem; } }
  @media screen and (min-width: 768px) {
    .social a {
      font-size: 50px;
      font-size: 2.5rem; } }
  .social a:first-child {
    margin-left: 0; }
  .social a:hover {
    color: #fff; }

.contact-info {
  font-size: 15px;
  font-size: 0.75rem; }

.cta {
  background-color: #d1d1d1; }
  .cta .container {
    padding-left: 0;
    padding-right: 0; }
    @media screen and (min-width: 600px) {
      .cta .container {
        padding-left: 1em;
        padding-right: 1em; } }
    .cta .container ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .cta .container ul li {
        padding: 0;
        margin-bottom: 0;
        text-align: center; }
        @media screen and (min-width: 600px) {
          .cta .container ul li {
            padding-top: 1em;
            padding-bottom: 1em; } }
  .cta a {
    display: block;
    background: #262362;
    color: #b3b3c1;
    text-align: center;
    text-decoration: none;
    padding: 1em 0.5em 0.75em;
    font-family: "Vollkorn", Georgia, Times, "Times New Roman", serif;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    text-transform: uppercase; }
    .cta a:hover {
      background: #df9d01;
      color: #fff; }
    @media screen and (min-width: 600px) {
      .cta a {
        text-transform: none;
        padding: 0;
        font-size: 25px;
        font-size: 1.25rem;
        display: inline-block; } }

@media screen and (min-width: 600px) {
  html.page-inside .cta a {
    background: transparent;
    color: #262362;
    border-bottom: 0; }
    html.page-inside .cta a:hover {
      color: #df9d01; } }
html.page-inside .motherlode {
  padding-top: 40px;
  padding-top: 2rem;
  padding-bottom: 40px;
  padding-bottom: 2rem; }
html.page-inside main {
  position: relative; }
  @media screen and (min-width: 600px) {
    html.page-inside main {
      display: block;
      float: left;
      margin-right: 4.4%;
      width: 65.2%; }
      html.page-inside main:last-child {
        margin-right: 0; }
      html.page-inside main:after {
        border-right: 1px solid #cbcbcb;
        bottom: 0;
        content: "";
        position: absolute;
        right: -1em;
        top: 0; } }
  html.page-inside main img {
    height: auto !important; }
  html.page-inside main p + p {
    margin-top: 1.5em; }
html.page-inside aside {
  margin-right: 0; }
  @media screen and (min-width: 600px) {
    html.page-inside aside {
      display: block;
      float: left;
      margin-right: 4.4%;
      width: 30.4%; }
      html.page-inside aside:last-child {
        margin-right: 0; } }
  html.page-inside aside blockquote {
    padding: 1em;
    margin: 0 0 1em;
    background: #d1d1d1; }

pre {
  white-space: normal; }

form {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 0.8rem; }
  form #cookies {
    display: none; }
  form * {
    font-size: 16px;
    font-size: 0.8rem; }
  form h2 {
    padding-top: 1em;
    font-size: 2em; }
  form input, form textarea, form select {
    margin-bottom: 1em; }
  form input, form textarea {
    width: 100%; }
    form input[type="radio"], form input[type="checkbox"], form textarea[type="radio"], form textarea[type="checkbox"] {
      width: auto; }
  form input,
  form textarea {
    border-radius: 0.25em;
    padding: 0.25em; }
  form .chzn-container-single .chzn-single {
    line-height: 36px;
    line-height: 1.8rem;
    height: 36px;
    height: 1.8rem; }

html.page-home .cta a {
  background: #262362;
  color: #b3b3c1; }
  html.page-home .cta a:hover {
    background: #df9d01;
    color: #fff; }
  @media screen and (min-width: 600px) {
    html.page-home .cta a {
      text-transform: none;
      padding: 0;
      font-size: 25px;
      font-size: 1.25rem;
      line-height: 6.5;
      width: 6.5em;
      display: inline-block;
      border-radius: 50%; }
      html.page-home .cta a:hover {
        transform: scale(1.1);
        /* 1/10 of the original size */
        transition: all 333ms ease-in-out; } }
  @media screen and (min-width: 768px) {
    html.page-home .cta a {
      font-size: 35px;
      font-size: 1.75rem;
      line-height: 6.5;
      width: 6.5em; } }
html.page-home .mission .container {
  padding-top: 60px;
  padding-top: 3rem;
  padding-bottom: 60px;
  padding-bottom: 3rem;
  font-size: 24px;
  font-size: 1.2rem;
  font-family: "Vollkorn", Georgia, Times, "Times New Roman", serif; }
  html.page-home .mission .container h1 {
    font-size: 1.5em;
    margin-bottom: 0.75em; }
  html.page-home .mission .container img {
    height: auto !important;
    margin-bottom: 0.75em; }
  html.page-home .mission .container p {
    text-align: left !important; }
html.page-home .post-summaries {
  font-family: "Vollkorn", Georgia, Times, "Times New Roman", serif; }
  html.page-home .post-summaries .container {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center; }
    html.page-home .post-summaries .container a {
      display: block;
      text-align: center;
      border-bottom: none; }
      html.page-home .post-summaries .container a.button {
        display: inline-block;
        margin: auto; }
      html.page-home .post-summaries .container a:hover {
        border-bottom-color: transparent;
        background: #d4d3dd; }
      html.page-home .post-summaries .container a > * {
        margin: 10px 10px 20px;
        margin: 0.5rem 0.5rem 1rem; }
      html.page-home .post-summaries .container a img {
        display: block;
        margin: 0 0 30px;
        margin: 0 0 1.5rem; }
      @media screen and (min-width: 600px) {
        html.page-home .post-summaries .container a {
          text-align: left; }
          html.page-home .post-summaries .container a > * {
            margin: 20px 20px 30px;
            margin: 1rem 1rem 1.5rem; } }
    html.page-home .post-summaries .container h2 {
      font-size: 30px;
      font-size: 1.5rem;
      margin-bottom: 0.5em; }

.slider > * {
  position: relative;
  display: none; }
  .slider > *:first-child {
    display: block; }
.slider.banner-images > * {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d1d1d1;
  height: 300px;
  height: 15rem; }
  @media screen and (min-width: 768px) {
    .slider.banner-images > * {
      height: 450px;
      height: 22.5rem; } }
  .slider.banner-images > * .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.4);
    font-size: 48px;
    font-size: 2.4rem;
    padding: 1em 0; }
    @media screen and (min-width: 600px) {
      .slider.banner-images > * .caption {
        display: block;
        top: auto; } }
    .slider.banner-images > * .caption .container {
      text-align: center;
      font: italic normal 48px/1.2 "Vollkorn", Georgia, Times, "Times New Roman", serif;
      text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
      color: #fff; }
    .slider.banner-images > * .caption a {
      display: inline-block;
      margin-left: 1em;
      vertical-align: middle;
      font-size: 20px;
      font-size: 1rem;
      font-weight: 400;
      text-shadow: 0; }
.slider.testimonials {
  background: #262362; }
  .slider.testimonials #quoterotator {
    min-height: 120px;
    min-height: 6rem; }
    @media screen and (min-width: 600px) {
      .slider.testimonials #quoterotator {
        min-height: 220px;
        min-height: 11rem; } }
  .slider.testimonials > * {
    color: #fff;
    padding: 1em 0;
    font-family: "Vollkorn", Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-size: 1rem; }
    @media screen and (min-width: 600px) {
      .slider.testimonials > * {
        font-size: 40px;
        font-size: 2rem;
        line-height: 1.625; } }
    .slider.testimonials > * blockquote {
      font-weight: 400;
      font-style: italic;
      quotes: "\201C" "\201D"; }
      .slider.testimonials > * blockquote:before, .slider.testimonials > * blockquote:after {
        color: #df9d01;
        line-height: 0; }
        @media screen and (min-width: 600px) {
          .slider.testimonials > * blockquote:before, .slider.testimonials > * blockquote:after {
            font-size: 50px;
            font-size: 2.5rem; } }
      .slider.testimonials > * blockquote:before {
        content: open-quote; }
      .slider.testimonials > * blockquote:after {
        content: close-quote; }
  .slider.testimonials cite {
    display: block;
    font-size: 15px;
    font-size: 0.75rem;
    text-indent: 80px;
    text-indent: 4rem; }
    @media screen and (min-width: 600px) {
      .slider.testimonials cite {
        font-size: 30px;
        font-size: 1.5rem; } }
