.bw-form-title {
	width: 100%;
	height: 100%;
	float: left;
	clear: both;
	margin: 0 0 10px 0;
}
.bw-form-title h1,
.bw-form-title h2,
.bw-form-title h3,
.bw-form-title h4,
.bw-form-title h5,
.bw-form-title h6 {
	margin: 0;
}
.bw-form-content {
	width: 100%;
	height: 100%;
	float: left;
	clear: both;
	margin: 0 0 10px 0;
}
.bw-form-content p {
	margin: 0;
}
.bw-form-wrapper {
	width: 100%;
	height: 100%;
	float: left;
	clear: both;
	margin: 10px 0;
}
.bw-form {
	display: block;
	width: 100%;
	height: 100%;
	float: left;
	clear: both;
	margin: 10px 0 0 0;
}
.bw-page-field {
	width: 95%;
	height: 100%;
	float: left;
	clear: both;
	margin: 0 0 8px 0;
}
.bw-form-textfield {
	width: 100%;
	height: 100%;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	border: 1px solid #dadada;
	outline: none;
}
.bw-form-select,
.bw-form-select option {
	width: 100%;
	height: 100%;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	border: 1px solid #dadada;
	outline: none;
}
.bw-form-textarea {
	width: 100%;
	height: 150px;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	border: 1px solid #dadada;
	outline: none;
}
.bw-form-cb-rad-wrapper {
	width: 50%;
	height: 100%;
	float: left;
}
.bw-form-cb-rad-p {
	display: block;
	width: 100%;
	height: 24px;
	float: left;
	clear: both;
	line-height: 24px;
	margin: 0;
}
.bw-form-cb-rad {
	width: 12px;
	height: 12px;
	float: left;
	clear: none;
	margin: 0 5px 0 0;
}
.bw-form-label {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 15px;
}
.bw-form-submit {
	background: #eeeeee;
	height: 100%;
	float: right;
	padding: 2px 10px;
	border: 1px solid #cdcdcd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
.bw-input-error {
	background: #ffc0cb;
	border: 1px solid #ff0000;
	color: #ff0000;
}
.bw-page-errors {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 10px 0;
	padding: 5px;
	background: #ffc0cb;
	border: 1px dashed red;
	display: none;
}
.post-content .bw-page-errors {
	padding: 14px 14px 0 14px;
}
.bw-page-errors,
.bw-page-errors p {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color: #ff0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}
#cookies {
	display:none;
}